<h2>Angular</h2>
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    
    <div >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink=""><b>Data Binding</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClick()"><b>Directives</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="temp"><b>Template Form</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rea"><b>Reactive Form</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pipe"><b> Pipe</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ser"><b> Services</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="serCrud"><b> Service crud</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="obs"><b> Observables</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pro"><b> Promises</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="rou/ankita/22"><b> Routing</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="inter"><b> Inter-comp</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="third"><b> Libraries</b></a>
        </li>

      </ul>
    </div>
  </div>
</nav>


<div>
<router-outlet></router-outlet>
</div>
